




 label #btn{
    display: block;
  }

  #check:checked ~ label #btn{
    display: none;
  } 
  #check:checked ~ label #cancel{
    display: block;
  } 

  #check:checked ~ ul{
    left:0px;
  } 



  header{
    padding: 20px;
}

header label{
    display: initial;
}

header .navbar{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 100%;
    background: rgb(85, 80, 80);
    border-top: 1px solid rgb(180, 150, 74);
    display: none;
}
header .navbar ul li{
    width: 100%;
}

#menu-bar:checked ~ .navbar{
    display: initial;
}















/* .navbar .icon{
    font-size: 26px;
    color: white;
    margin-right:  80px;
    line-height: 80px;
    cursor: pointer;
    float: right;
    display: block;
}

.navbar .btn1{
    font-size: 26px;
    color: white;
    margin-right:  450px;
    line-height: 80px;
    cursor: pointer;
    float: right;
    display: block;
} */







/* body .navbar { */
  
   
    /* top: 100%; */

   
    /* border-top: 1px solid grey; */
    /* justify-content: center; */
    
   
    
   




/* .navbar ul{
    flex-direction: column;
    display: flex;
    top: 80px;
    left: 0%;
    position: fixed;
    float: right;
    width: 100%;
    height: 100vh; */
   /* background: red; */
    /* text-align: center;
    display: none; 
   

   
    
}
.navbar ul li{
    display: block;
    margin:  50px 0;
    line-height: 30px;
    width: 100%;
  }
  .navbar  ul li a{
    font-size: 20px;
    text-align: center;
    cursor: pointer;
  } */



  /* home */


  #Home{
    margin: auto;
  }







/* about */

 .pic{
    flex-direction: column;
    align-items: center;
} 
.pic img{
    width: 475px;
    height: 300px;
}
.pic p{
    font-size: 1.3rem;
}




.box{
    flex-direction: column;
   
    align-items: center;
    /* width: 400px;  */
    height: 300px;

}



/* education */





/* #education{
  justify-content: center;
  flex-direction: column;
  align-items: center;
}  */
#education .row{
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
 







.heading11{
  margin-top: 8pc;
}



